<html>
    <head>
    {% load static %}
    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
        <title>login  page</title>
    </head>
    <body>
        <h1>Hello,Please Login</h1>
        <button id='login'>Login</button>
        <button id="register">Register</button>
        <script>
            $(document).ready(function () {
                $("#login").click(function () {
                    window.location.href = "register/";
                });
    
                $("#register").click(function () {
                    window.location.href = "employee/"; 
                });
            });
        </script>
    </body>
</html>